<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="better.news">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permisson.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:name=".MainApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- android:theme="@style/AppTheme.TransparentNoActionBar" -->
        <activity
            android:name=".ui.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:theme="@style/AppTheme.TransparentNoActionBar" />
        <activity android:name=".ui.common.DealActivity" />
        <activity android:name=".ui.days.DaysDetailActivity" />
        <activity android:name=".ui.science.ScienceDetailsActivity" />
        <activity android:name=".ui.read.BookDetailActivity" />
        <activity android:name=".ui.read.ReadBookActivity" />
        <activity
            android:name=".ui.setting.SettingActivity"
            android:theme="@style/style_setting" />
        <activity
            android:name=".ui.about.AboutActivity"
            android:theme="@style/style_setting" />
        <activity android:name=".ui.read.search.SearchBookActivity"></activity>
    </application>

</manifest>
